<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/good/add" method="post">
        <p>Введите название товара</p>
        <input type="text" name="title">

        <p>Введите описание товара</p>
        <textarea name="info" id="" cols="30" rows="10"></textarea>

        <p>Введите стоимость товара</p>
        <input type="text" name="price">

        <p>Введите id каталога товара</p>
        <input type="text" name="cat"><br><br>

        <input type="submit" value="Сохранить">
    </form>
</body>
</html>